<style>
  body { font-family: sans-serif; background-color: #f7f8fc; color: #939bae;
  font-size: 1rem; display: flex; max-width: 100vw; margin: 0; }
  .email_container { max-width: 80%; width: 100%; padding: 3rem; margin: 0 auto;
  background-color: white; } button { background-color: #676fe8; color: white;
  padding: 1rem 2rem; border-radius: 5px; cursor: pointer; width: 100%; margin:
  1rem 0; border: none; font-weight: bold; font-size: 1rem; } button:hover {
  background-color: #5c64db; } hr { margin: 2rem 0 0 0; border-width: 1px;
  background-color: #f7f8fc; }
</style>

<div class='email_container'>
  Hello
  {{name}},
  <p>
    We've received a request to reset password for the account associated with
    {{email}}
    email address. No changes have been made to your account yet.
  </p>
  <p>You can reset your password by clicking the link below:</p>

  <a href='{{url}}'>
    <button>Reset Password</button>
  </a>
  <p>If you did not make this request, you can safely ignore this email.</p>
  <hr />
</div>